<<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>LISTA DE MOVIMIENTOS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <style>
            a{
    color:white;
    }
    a:hover {
    color: black;
    text-decoration:none;
    }
</style>
    <!--estilo fuente texto blanco para el encabezado de la tabla-->
    <style>
    th{
    color:white;
    }
    th:hover {
    color: black;
    text-decoration:none;
    }
</style>
    <!--estilo imagen de fondo-->
    <style>
body{
    margin: 0;
    padding: 0;
    background: url(images/fondoEmpresas.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    background-attachment: fixed;
}
</style>
</head>
<body>
<header style="background-color: rgb(62, 128, 191);">
    <div class="container">
        <div style="float:left">
            <h1 style="color:white ;">CONTABILIDAD-LISTA DE MOVIMIENTOS</h1>
        </div>
        <div style="float:right">
            <h3 th:inline="text" class="text-right" style="color:white ;">User: [[${#httpServletRequest.remoteUser}]]</h3>
            <button type="button" class="btn btn-danger" style="float:right">
                <a th:href="@{/logoutPage}">Cerrar Sesión</a>
            </button>
        </div>
    </div>
    <br>
</header>
